# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py,cover

# Logs & debugging files
*.log
*.DS_Store
*.idea/
*.vscode/
*.spyderproject
.ropeproject
.scrapy

# Environment variables 
.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nose2-results.xml
junit.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# mkdocs documentation
/site

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Django 
db.sqlite3
staticfiles/